<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      h1 {
        background-color: #66b3e0;
        color: white;
        padding: 10px 0;
      }

      form {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type='text'],
      input[type='email'] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        background-color: #66b3e0;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }

      button:hover {
        background-color: #3385b3;
      }
    </style>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/v1/users/<%= user.id %>?_method=PATCH" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= user.name %>" required /><br /><br />

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value="<%= user.email %>" required /><br /><br />

      <label for="role">Role:</label>
      <input type="text" name="role" id="role" value="<%= user.role %>" required /><br /><br />

      <label for="jobTitle">Job Title:</label>
      <input type="text" name="jobTitle" id="jobTitle" value="<%= user.jobTitle %>" required /><br /><br />

      <button type="submit">Save Changes</button>
    </form>
  </body>
</html>
